.header-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right-toolbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-toolbar * {
  cursor: pointer;
  margin-right: 15px;
}