<mat-toolbar class="header-toolbar bg-blue-400">
  <span>My Application</span>
  <span class="example-spacer"></span>
  <span class="right-toolbar">
    <app-bell></app-bell>
    <button mat-raised-button (click)="changeUsername()">Change username</button>
    <button mat-raised-button (click)="changeEmail()">Change email</button>
    <button mat-raised-button (click)="doNothing()">Do nothing</button>
    <app-profile-dropdown [username]="username" [email]="email"></app-profile-dropdown>
  </span>
</mat-toolbar>