<mat-icon [matMenuTriggerFor]="menu" aria-hidden="false" aria-label="notifications">person</mat-icon>
<mat-menu #menu="matMenu">
  <button *ngIf="username" mat-menu-item>{{username}}</button>
  <button *ngIf="email" mat-menu-item>{{email}}</button>
  <button mat-menu-item>{{detectionHappened}}</button>
  <button mat-menu-item>Profile</button>
  <button mat-menu-item>Logout</button>
</mat-menu>