.sidenav-container {
  position: absolute;
  top: 60px;
  bottom: 60px;
  left: 0;
  right: 0;
  width: 200px;
}

.sidenav {
  width: 100%;
}

.sidenav-content {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidenav-content a {
  margin-top: 20px;
}