<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer mode="side" opened role="navigation" class="sidenav">
    <div class="sidenav-content">
      <a mat-button [routerLink]="'/filevault'"> FileVault </a>
      <a mat-button [routerLink]="'/workspaces'"> Workspaces </a>
      <a mat-button [routerLink]="'/users'"> Users </a>
      <a mat-button [routerLink]="'/template-form'"> Template form </a>
      <a mat-button [routerLink]="'/reactive-form'"> Reactive form </a>
    </div>
  </mat-sidenav>
</mat-sidenav-container>