<h2>Workspaces page</h2>
<br />
<div class="grid grid-cols-1 gap-2 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-3 mt-3">
  <app-card
    class="relative w-full h-60 bg-cover bg-center group rounded-lg overflow-hidden shadow-lg transition duration-300 ease-in-out">
    <div class="absolute inset-0 bg-yellow-300 bg-opacity-75 transition duration-300 ease-in-out"></div>
    <div class="relative w-full h-full px-4 sm:px-6 lg:px-4 flex items-center justify-center">
      <div>
        <h3 title class="text-center text-lg">
          Workspace 1
        </h3>
        <div content class="flex space-x-4 mt-4">
          <button class="button-card bg-white text-blue-400">Edit</button>
          <button class="button-card bg-blue-400 text-white">Archive</button>
        </div>
      </div>
    </div>
  </app-card>
  <app-card
    class="relative w-full h-60 bg-cover bg-center group rounded-lg overflow-hidden shadow-lg transition duration-300 ease-in-out">
    <div class="absolute inset-0 bg-yellow-300 bg-opacity-75 transition duration-300 ease-in-out"></div>
    <div class="relative w-full h-full px-4 sm:px-6 lg:px-4 flex items-center justify-center">
      <div>
        <h3 title class="text-center text-lg">
          Workspace 22-11-2021
        </h3>
        <content class="flex space-x-4 mt-4">
          <button class="block uppercase mx-auto shadow bg-white text-blue-400 focus:shadow-outline 
                                                focus:outline-none text-xs py-3 px-4 rounded font-bold">
            Edit
          </button>
          <button class="block uppercase mx-auto shadow bg-blue-400 text-white hover:bg-indigo-700 focus:shadow-outline 
                                                 focus:outline-none text-xs py-3 px-4 rounded font-bold">
            Archive
          </button>
        </content>
      </div>
    </div>
  </app-card>
  <app-card
    class="relative w-full h-60 bg-cover bg-center group rounded-lg overflow-hidden shadow-lg transition duration-300 ease-in-out">
    <div class="absolute inset-0 bg-yellow-300 bg-opacity-75 transition duration-300 ease-in-out"></div>
    <div class="relative w-full h-full px-4 sm:px-6 lg:px-4 flex items-center justify-center">
      <div>
        <h3 title class="text-center text-lg">
          Workspace from template v3
        </h3>
        <div content class="flex space-x-4 mt-4">
          <button
            class="block uppercase mx-auto shadow bg-white text-blue-400 focus:shadow-outline 
                                                                    focus:outline-none text-xs py-3 px-4 rounded font-bold">
            Edit
          </button>
          <button
            class="block uppercase mx-auto shadow bg-blue-400 text-white hover:bg-indigo-700 focus:shadow-outline 
                                                                     focus:outline-none text-xs py-3 px-4 rounded font-bold">
            Archive
          </button>
        </div>
      </div>
    </div>
  </app-card>
</div>