<div class="root-container font-sans">
  <app-header></app-header>
  <app-sidenav></app-sidenav>
  <div class="main-container">
    <router-outlet></router-outlet>
  </div>
  <app-footer></app-footer>
</div>