<h2>Reactive form</h2>

<div>
  <form>
    <div class="flex-form">
      <div class="form-group form-element">
        <label for="userFirstName">First Name</label>
        <input type="text" id="userFirstName" class="form-control">
      </div>
      <div class="form-group form-element">
        <label for="userLastName">Last Name</label>
        <input type="text" id="userLastName" class="form-control">
      </div>
      <div class="form-group form-element">
        <label for="userAge">Age</label>
        <input type="number" id="userAge" class="form-control">
      </div>
    <div class="form-element">
      <button class="btn btn-success" type="submit">Add</button>
      <button class="btn btn-danger" type="button">Delete</button>
      <button class="btn btn-primary" type="button">Clear</button>
    </div>
    </div>
  </form>
</div>