.flex-form {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.flex-form > .form-element {
  width: 300px;
  padding: 10px;
  display: flex;
  justify-content: start;
  align-content: center;
}

.form-element input {
  margin-left: 20px;
}